.Fooditem {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadein 1s;
  padding: 5px;
  background-color: rgba(147, 150, 151, 0.659);
}
.active {
  scale: 1.2;
  background-color: white;
  transition: 0.6s;
  box-shadow: 10px 50px 60px #00000015;
  z-index: 1;
}
.foot-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 15px;
}
.food-item-info {
  padding: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.food-item-name-rating img {
  width: 35%;
}
.food-item-desc {
  color: #676767;
  font-size: 12px;
}
.foot-item-price {
  color: tomato;
  font-size: 22px;
  margin-top: 10px;
  font-weight: 500;
  margin: 0px 10px;
}
.food-item-image-container {
  position: relative;
}
.food-item-image-container .add {
  position: absolute;
  width: 35px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.foot-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}
.food-item-counter img {
  width: 30px;
}
.Qty-management {
  display: flex;
  gap: 10px;
  align-items: center;
  animation-name: increase;
  animation-duration: 0.3s;
}
.add {
  animation-name: increase;
  animation-duration: 0.3s;
}
@keyframes increase {
  0% {
    scale: 0;
  }
  25% {
    scale: 0.25;
  }
  50% {
    scale: 50%;
  }
  75% {
    scale: 75%;
  }
  100% {
    scale: 1;
  }
}
